<template>
    <header>
        <div>
            <p>#header</p>
            <slot></slot>
        </div>
    </header>
</template>

<script>
  export default {
    name: "HeaderComponent"
  }
</script>

<style scoped>
    header {
        display: grid;
        background: #464646;
        color: #f1f1f1;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    header div {
        display: grid;
        grid-template-columns: 200px 500px;
        align-items: center;
        justify-content: space-between;
        padding-right: 99px;

    }

    header div input {
        width: 200px;
        height: 23px;
    }
</style>
