<template>
    <aside>
        <div>
            <p>#SiderBar</p>
            <menu>
                <router-link to="/">Пользователи</router-link>
                <router-link to="/favourites">Выбранные пользователи <b v-if="$store.getters.users.length">{{$store.getters.users.length}}</b>
                </router-link>
            </menu>
        </div>
    </aside>
</template>

<script>
  export default {
    name: "SidebarComponent"
  }
</script>

<style scoped>
    aside {
        background: #daddde;
    }

    aside > div {
        position: fixed;
        max-width: 400px;
        width: 100%;
        height: 100%;
        top: 75px;
    }

    aside > div p {
        margin: 0;
    }

    menu a {
        display: block;
        color: #111;
        text-decoration: none;
        font-family: Verdana;
    }

    .router-link-exact-active {
        font-weight: bold;
    }

    menu {
        text-align: left;
    }
</style>
