<template>
    <footer>
        <p>#Footer</p>
        <p>Test task, Sharapat Vladyslav (c)</p>
    </footer>
</template>

<script>
  export default {
    name: "FooterComponent"
  }
</script>

<style scoped>
    footer {
        display: grid;
        background: #464646;
        color: #f1f1f1;
    }
</style>
