<template>
    <div id="app">
        <header-component>
            <div v-if="$route.name !== 'user'">
                <label for="search">Поиск</label>
                <input id="search" type="search" v-model="searchValue" placeholder="Введите логин или id"
                       autocomplete="off" @input="updateSearch">
            </div>
        </header-component>

        <section>
            <SidebarComponent/>
            <InnerComponent :searchValue="searchValue">
            </InnerComponent>
        </section>
        <FooterComponent/>
    </div>
</template>

<script>
  import InnerComponent from '@/components/content/InnerComponent.vue'
  import HeaderComponent from "@/components/header/HeaderComponent";
  import SidebarComponent from "@/components/sidebar/SidebarComponent";
  import FooterComponent from "@/components/footer/FooterComponent";

  import {eventBus} from "@/main";

  export default {
    name: 'App',
    components: {
      InnerComponent,
      HeaderComponent,
      SidebarComponent,
      FooterComponent
    },
    data() {
      return {
        searchValue: ''
      };
    },
    methods: {
      updateSearch: function () {
        eventBus.$on('updateSearch', data => {
          this.searchValue = data.search;
        });
      }
    }
  }
</script>

<style>
    body {
        margin: 0;
        min-width: 980px;
    }

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    section {
        display: grid;
        grid-template-columns: 400px auto;
        min-height: calc(100vh - 108px);
    }

    header-component input {
        height: 23px;
    }

    input[type=search] {
        width: 175px;
        height: 29px;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    label {
        cursor: pointer;
    }

    input[type="search"]:focus {
        outline-color: darkgrey;
        /*border: 1px solid #42b983;*/
    }
</style>
