<template>
    <div>
        <h3>Выбранные пользователи</h3>
        <p v-if="favouritesUsers.length === 0 && searchValue.length !== 0 ">К сожалению ничего не найдено по запросу
            {{searchValue}}</p>
        <button v-if="$store.getters.users.length" v-on:click="removeAllFavourites">delete all</button>
        <UsersElements :users="favouritesUsers"/>
    </div>
</template>

<script>
  import UsersElements from "@/components/content/UsersElements";
  import {mixins} from "@/mixins";

  export default {
    name: "FavouriteUsersComponent",
    mixins: [mixins],
    props: {
      searchValue: String
    },
    components: {
      UsersElements
    },
    computed: {
      favouritesUsers: function () {
        return this.searchByIDandLogin(this.$store.getters.users, this.searchValue)
      }
    },
    created() {
      this.updateSearch()
    }
  }
</script>

<style scoped>

</style>
