<template>
    <div class="users">
        <div class="user" v-for="user in users" :key="user.id">
            <div class="user-img">
                <img :src="user.avatar_url" width="100%"/>
            </div>
            <div class="content">
                <div class="user-info">
                    <p>ID: {{user.id}}</p>
                    <h4>Логин: <span>{{user.login}}</span></h4>
                    <div class="content-buttons">
                        <a :href="user.html_url" target="_blank">
                            <img src="../../assets/github.svg" width="20px">
                        </a>
                        <button v-if="!user.isFavourite" v-on:click="addToFavourites(user)"
                                title="Добавить в избранное">☆
                        </button>
                        <button v-if="user.isFavourite" v-on:click="removeFromFavourites(user)"
                                title="Удалить из избранного">★
                        </button>
                    </div>
                </div>
                <div class="user-button">
                    <router-link :to="{ name: 'user', params: { login: user.login }}">Подробнее</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import {mixins} from "@/mixins";

  export default {
    name: "UsersElements",
    props: {
      users: Array
    },
    mixins: [mixins]
  }
</script>

<style scoped>
    .user {
        width: 200px;
        border: 1px solid #bfbfbf;
        border-radius: 6px;
        margin: 10px;
    }

    .users {
        display: flex;
        margin: 10px;
        flex-wrap: wrap;
    }

    .user-img img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .content h4 {
        text-align: left;
    }

    .content div {
        text-align: left;
        margin-bottom: 20px;
    }

    .content {
        padding: 0 10px;
        font-family: Verdana;
    }

    .user-info {
        position: relative;
    }

    .user-button {
        position: relative;
        margin-bottom: 0 !important;
        margin-left: -10px;
        width: calc(100% + 20px);
        margin-top: -10px;
    }

    .content-buttons {
        position: absolute;
        top: 0;
        right: 0;
    }

    .content-buttons button {
        font-size: 24px;
        line-height: 18px;
        color: orange;
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
    }

    .content h4 span {
        max-width: 100px;
        display: inline-block;
        vertical-align: text-bottom;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-button a {
        background-color: #483d3d;
        /*box-shadow: 0 5px 0 darkred;*/
        color: white;
        padding: 1em 1.5em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
    }

    .user-button a:hover {
        background-color: #5a5151;
    }
</style>
