<template>
    <div>
        <h3>Пользователи:</h3>
        <img src="../../assets/spinner.gif" v-if="!users.length"/>
        <p v-if="usersComputed.length === 0 && users.length">К сожалению ничего не найдено по запросу
            {{searchValue}}</p>
        <UsersElements :users="usersComputed"/>
    </div>
</template>

<script>
  import axios from 'axios';
  import UsersElements from "@/components/content/UsersElements";
  import {mixins} from "@/mixins";

  export default {
    name: "UsersComponent",
    components: {
      UsersElements
    },
    props: {
      searchValue: String
    },
    mixins: [mixins],
    data() {
      return {
        users: [],
        search: ''
      }
    },
    created() {
      axios.get('https://api.github.com/users')
          .then((res) => {
            this.users = res.data;
          })
          .catch((err) => {
            console.log('err', err)
          })
      this.updateSearch()
    },
    computed: {
      usersComputed: function () {
        this.users.map(user => {
          let isUserExist = false;
          if (this.$store.getters.users instanceof Array) {
            isUserExist = this.$store.getters.users.find(customUser => {
              return customUser.login === user.login
            });
          }

          return user.isFavourite = !!isUserExist;
        });

        return this.searchByIDandLogin(this.users, this.searchValue)
      }
    }
  }
</script>

<style scoped>
    .user {
        width: 200px;
        border: 1px solid #bfbfbf;
        border-radius: 6px;
        margin: 10px;
    }

    .users {
        display: flex;
        margin: 10px;
        flex-wrap: wrap;
    }

    .user-img img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .content h4 {
        text-align: left;
    }

    .content div {
        text-align: left;
        margin-bottom: 20px;
    }

    .content {
        padding: 0 10px;
        font-family: Verdana;
    }

    .user-info {
        position: relative;
    }

    .user-button {
        position: relative;
        margin-bottom: 0 !important;
        margin-left: -10px;
        width: calc(100% + 20px);
        margin-top: -10px;
    }

    .content-buttons {
        position: absolute;
        top: 0;
        right: 0;
    }

    .content-buttons button {
        font-size: 24px;
        line-height: 18px;
        color: orange;
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
    }

    .content h4 span {
        max-width: 100px;
        display: inline-block;
        vertical-align: text-bottom;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-button a {
        background-color: #483d3d;
        /*box-shadow: 0 5px 0 darkred;*/
        color: white;
        padding: 1em 1.5em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
    }

    .user-button a:hover {
        background-color: #5a5151;
    }
</style>
