<template>
    <div class="wrapper">
        <h4>Пользователь {{ $route.params.id }}</h4>
        <img src="../../assets/spinner.gif" v-if="!user"/>

        <div class="frame" v-if="user">
            <div class="center">
                <div class="profile">
                    <span class="profile_id">ID: {{user.id}}</span>
                    <div class="image">
                        <div class="circle-1"></div>
                        <div class="circle-2"></div>
                        <img :src="user.avatar_url" width="70" height="70" alt="Jessica Potter">
                    </div>

                    <div class="name">{{user.name || user.login}}</div>
                    <div class="job">{{user.company}}</div>
                    <div class="location">{{user.location}}</div>

                    <div class="actions">
                        <a :href="user.blog" v-if="user.blog" target="_blank" class="btn">Blog</a>
                        <a :href="user.html_url" class="btn" target="_blank">Github</a>
                    </div>
                </div>

                <div class="stats">
                    <div class="box">
                        <span class="value">{{user.public_repos}}</span>
                        <span class="parameter">Public repos</span>
                    </div>
                    <div class="box">
                        <span class="value">{{user.public_gists}}</span>
                        <span class="parameter">Public gists</span>
                    </div>
                    <div class="box">
                        <span class="value">{{user.followers}}</span>
                        <span class="parameter">Followers</span>
                    </div>
                </div>
            </div>
            <div class="created_at">Registred: {{user.created_at | customDate}}</div>
        </div>

    </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "UserComponent",
    data() {
      return {
        user: ''
      }
    },
    filters: {
      customDate: function (date) {
        const monthNames = ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.', 'Dec.']
        date = new Date(date)
        return monthNames[date.getMonth()] + ' ' + date.getFullYear();
      }
    },
    created() {
      axios.get(`https://api.github.com/users/${this.$route.params.login}`)
          .then((res) => {
            this.user = res.data;
          });
    },
    mounted() {
      window.scrollTo({top: 0, behavior: 'smooth'});
    }
  }
</script>

<style scoped>

    .wrapper {
        position: relative;
        min-height: 550px;
    }

    .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        margin-top: -200px;
        margin-left: -200px;
        border-radius: 2px;
        box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
        background: #759687;
        background: linear-gradient(to top right, #759687 0%, #292929 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEBE6C", endColorstr="#CA7C4E", GradientType=1);
        color: #2d3e50;
        font-family: "Open Sans", Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .center {
        position: absolute;
        top: 50px;
        left: 40px;
        height: 299px;
        width: 320px;
        background: #fff;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    }

    .profile {
        float: left;
        width: 200px;
        height: 320px;
        text-align: center;
    }

    .profile_id {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .profile .image {
        position: relative;
        width: 70px;
        height: 70px;
        margin: 38px auto 0 auto;
    }

    .profile .image .circle-1, .profile .image .circle-2 {
        position: absolute;
        box-sizing: border-box;
        width: 76px;
        height: 76px;
        top: -3px;
        left: -3px;
        border-width: 1px;
        border-style: solid;
        border-color: #786450 #786450 #786450 transparent;
        border-radius: 50%;
        transition: all 1.5s ease-in-out;
    }

    .profile .image .circle-2 {
        width: 82px;
        height: 82px;
        top: -6px;
        left: -6px;
        border-color: #786450 transparent #786450 #786450;
    }

    .profile .image img {
        display: block;
        border-radius: 50%;
        background: #f5e8df;
    }

    .profile .image:hover {
        cursor: pointer;
    }

    .profile .image:hover .circle-1, .profile .image:hover .circle-2 {
        transform: rotate(360deg);
    }

    .profile .image:hover .circle-2 {
        transform: rotate(-360deg);
    }

    .profile .name {
        font-size: 15px;
        font-weight: 600;
        margin-top: 20px;
    }

    .profile .job {
        font-size: 11px;
        line-height: 15px;
    }

    .profile .location {
        font-size: 12px;
    }

    .profile .actions {
        margin-top: 33px;
    }

    .profile .actions .btn {
        display: block;
        width: 120px;
        height: 30px;
        margin: 0 auto 10px auto;
        background: none;
        border: 1px solid #2c3e50;
        border-radius: 15px;
        font-size: 12px;
        font-weight: 600;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        color: #2c3e50;
        text-decoration: none;
        line-height: 25px;
    }

    .profile .actions .btn:hover {
        background: #45514b;
        color: #fff;
    }

    .stats {
        float: left;
    }

    .stats .box {
        box-sizing: border-box;
        width: 120px;
        height: 99px;
        background: #2c3e50;
        text-align: center;
        padding-top: 28px;
        transition: all 0.4s ease-in-out;
        color: aliceblue;
    }

    .stats .box:hover {
        background: #45514b;
        cursor: pointer;
    }

    .stats .box:nth-child(2) {
        margin: 1px 0;
    }

    .stats span {
        display: block;
    }

    .stats .value {
        font-size: 18px;
        font-weight: 600;
    }

    .stats .parameter {
        font-size: 11px;
    }

    .created_at {
        position: absolute;
        bottom: 10px;
        left: 40px;
        color: white;
    }
</style>
